@model TrashGuy.Models.ScheduleModel

@{
    ViewBag.Title = "Details";
}

<h2>Your Pickup Schedule:</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.DisplayAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.DisplayAddress)
        </dd>
        <dd>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultPickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultPickupDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VacationStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VacationStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VacationEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VacationEndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Home", "Index", "Home")
</p>
